# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 10 - Insert a markdown cell to list Objectives

<!-- Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course) -->

**Objectives:**

*   Python
*   R
*   Go

### Exercise 4 - Create a markdown cell to list data science languages

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. Scala

### Exercise 5 - Create a markdown cell to list data science libraries

**Some of the commonly used libraries used by Data Scientists include:**

1. NumPy
2. Pandas
3. SciKit-Learn

### Exercise 6 - Create a markdown cell with a table of Data Science tools

**Create a single column table in this cell with the first row containing the header Data Science Tools.**

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Apache Spark |

### Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
### Exercise 8 - Create a code cell to multiply and add numbers

# This a simple arithmetic expression to mutiply then add integers

a=3
b=4
c=5

ans=(a*b)+c
print(ans)

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by diving by 60

mins=200
hour=60

convertedHours= mins/hour

print(convertedHours)

3.3333333333333335

### Exercise 11 - Create a markdown cell to indicate the Author's name


## Author
Mitulkumar Patel